.bg {
    background-color: #881C1C;
    overflow-x:hidden;
    height: 100%;
}

.label {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.input {
    color: black;
    font-family: 'Nunito', sans-serif;
    width: 500px;
}

.row {
    display: flex;
    height: 100%;
}

.column-left {
    max-height: 100vh;
    align-items: center;
    justify-content: center;
    flex: 50%;
    padding-left: 6vw;
    overflow-y: auto;
    /* padding-right: 0px; */
}
.column-right {
    overflow-y: hidden;
    display: inline-block;
    position: relative;
    flex: 50%;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}

#map {
    width:99%;
    position: relative;
    z-index: 100;
    background-color: #eaeaea;
    height: 100%;
}

html {
    height: 100%;
}