.bg {
    background-color: #881C1C;
    overflow:hidden;
}

.label {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.input {
    color: black;
    font-family: 'Nunito', sans-serif;
    width: 500px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding-left: 0px;
    padding-right: 0px;
}

#map {
    width:99%;
    background-color: #eaeaea;
    height: 99.9%;
}