body, html {
    height: 100%;
}

.bg {
    background-image: url("https://www.umassalumni.com/s/1640/images/gid2/editor/website/rd_2017_web_images/about/downloadable_pride/pou_-_white_w_maroon_mass_bg-maroon.png");
  
    height: 100%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome_font {
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
}

.btn {
    font-family: 'Nunito', sans-serif;
}

.btn-default {
    background-color: #68889E;
    color:#FFF;
    border-color: #2F3E48;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default { 
    background-color: #2F3E48;
    color:#FFF; 
    border-color: #31347B;
}

.padding {
    padding-top: 220px;
}

.custom {
    width: 200px;
}
