/*
*  position: relative gives a new position context
*/
.wrapper {
  position: relative;
}

.welcome-font {
  color: gray;
  font-family: 'Nunito', sans-serif;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

.font {
  font-family: 'Nunito', sans-serif;
}

.button-position {
  float: right;
}

.menu {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  color: gray;
  font-family: 'Nunito', sans-serif;
}

#map {
  background-color: #eaeaea;
  height: 100%;
}
  

#eventTable {
  position: absolute;
  height: 500px;
  top: 10%;
  right: 10%;
  height: 20px;
  padding: 10px 10px;
  /* overflow: auto; */
}

.scrollingTable {
  height: 15em;
  width: 10em;
  overflow-y: auto;
}

.marker {
  background-image: url("https://www.umassalumni.com/s/1640/images/gid2/editor/website/rd_2017_web_images/about/downloadable_pride/pou_-_white_w_maroon_mass_bg-maroon.png");
  background-size: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.table_color {
  background-color: darkred;
  color: white; 
}


