.bg {
    background-color: #881C1C;
    overflow:hidden;
}

.label {
    color: white;
    font-family: 'Nunito', sans-serif;
}

.input {
    color: black;
    font-family: 'Nunito', sans-serif;
    width: 200px;
}

.long-input {
    color: black;
    font-family: 'Nunito', sans-serif;
    width: 400px;
}

td {
    padding: 10px;
}